body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */

.pokemon-card {
    background-color: #FFCC00;
    border: 1px solid #0075BE;
    border-radius: 12px;
  }

  .horizontal-line {
    width: 205%; /* Extiende la línea al ancho completo de su contenedor */
    height: 3px; /* Altura de la línea */
    background-color: #0075BE; /* Color azul */
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    margin-bottom: 20px; /* Ajusta el margen inferior según sea necesario */
  }

  .btn {
    background-color:#0075BE;
    color: white;
  }

  